.lang-header {
    @apply sticky top-0 z-50 backdrop-blur-md px-6 py-4 w-full;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Section Welcome */
.welcome-container {
@apply text-center pt-12 md:pt-16 pb-8 px-4;
}

.welcome-title {
@apply text-3xl sm:text-4xl md:text-5xl font-extrabold tracking-tight mb-4 text-cv-text;
}

.welcome-description {
@apply text-cv-subtext text-base sm:text-lg max-w-xl mx-auto leading-relaxed;
}

/* Section About Me */
.aboutme-container {
@apply max-w-3xl mx-auto py-8 px-4;
}

.aboutme-title {
@apply text-2xl sm:text-3xl font-bold tracking-tight mb-4 text-cv-text;
}

.aboutme-description {
@apply text-cv-subtext text-base sm:text-lg leading-relaxed space-y-4;
}