@import "tailwindcss";

@theme {
  --color-cv-bg: #0b0f19;
  --color-cv-card: #111827;
  --color-cv-surface: #1f2937;

  --color-cv-text: #f8fafc;
  --color-cv-subtext: #94a3b8;
  --color-cv-muted: #64748b;

  --color-cv-accent: #3b82f6;
  --color-cv-accent-hover: #60a5fa;
  --color-cv-accent-light: rgba(59, 130, 246, 0.15);

  --color-cv-border: #1e293b;
  --shadow-cv: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -4px rgba(0, 0, 0, 0.4);
}

html {
  background-color: var(--color-cv-bg);
  color: var(--color-cv-text)
}
